* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
}

:root {
    --background-dark-color: #111827;
    --background-light-color: #F3F4F6;
    --primary-color: #4B9CFF;
    --font-light-color: #AEB5C5;
    --font-info-color: #4d4e53;
    --border-light-color: #dadada;
}

input {
    min-width: 30px;
}